*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width:100%;
    background:url('images/bg-stars.svg') hsl(235, 16%, 14%) ;
    height:100vh;
    position: fixed;
    font-family: 'Red Hat Text',Arial, Helvetica, sans-serif;
}
main{
    width:70%;
    margin:50px auto;
    position: relative;
}
main h3{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 50px 0 70px 0;
    color:hsl(0, 0%, 100%);
    letter-spacing: .3em;
}
#container{
    width:100%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
    align-items: center;
    justify-content: center;
    grid-gap:30px 30px; 
}
.boxes{
    width:100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap:30px;
}
.boxes h2{
    align-self: center;
    font-size: 20px;
    color:hsl(237, 18%, 59%);
    text-transform: uppercase;
    letter-spacing: 0.095em;
}
.card-holder{
    width:100%;
    position: relative;
    background:hsl(236, 21%, 12%);
    box-shadow: 0px 10px 8px hsl(234, 17%, 9%);
    animation: flip 1s 0.5s linear infinite;
}
.primary{
    width:100%;
    height:100px;
    background: hsl(236, 21%, 26%);
    padding: 30px 20px;
}
.static{
    background: hsl(236, 21%, 22%);
    border-radius: 5px 5px 15px 15px;
}
.opening{
    border-radius: 15px 15px 5px 5px;
    margin-top: .035em;
}
.text-holder h1{
    font-size:120px;
    text-align: center;
    opacity: 0.8;
    color:hsl(345, 95%, 68%);
    font-weight: 500;
    animation: flipTop 1s 0s linear infinite;
}
.text-holder{
    width:100%;
    margin: auto;
    position: absolute;
    top:15%;
}
#pattern{
    position: absolute;
    bottom: 0;
    left:0;
    height:100px;
    width:100%;
}
.links{
    position: absolute;
    text-align: center;
    padding: 30px;
    width:100%;
    margin:auto;
    bottom:0;
    z-index: 10;
}
#icons{
    padding: 5px;
    cursor: pointer;
    fill:#fff;
    transition: .1s ease;
}
#icons:hover{
    fill:hsl(345, 95%, 68%);
}
a{
    text-decoration: none;
}


@media(max-width:700px){
    main{
        width:95%;
    }
    #container{
        grid-gap:15px 15px; 
    }
    .text-holder h1{
        font-size:60px;
        font-weight: 300;
    }
    .primary{
        height:60px;
    }
    .static{
        border-radius: 5px 5px 10px 10px;
    }
    .opening{
        border-radius: 10px 10px 5px 5px;
    }
    main h3{
        font-size: 20px;
        letter-spacing: .2em;
    }
    .boxes h2{
        font-size: 15px;
    }
    #pattern{
        height:25vh;
    }
    .links{
        padding: 30px 30px 65px 30px;
    }
    .attribution {display: none;}
}

